#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    width: 100%;
    max-width: 1100px;

    height: 80%;
    max-height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    background: url('../../images/landing.svg') no-repeat 75% center;
    background-size: 40%;
}

#page-landing .content-wrapper main {
    max-width: 350px;
}

#page-landing .content-wrapper main h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 78px;
}

#page-landing .content-wrapper main p {
    margin-right: 48px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .location {
    position: absolute;
    right: 0;
    top: 0;
    
    font-size: 24px;
    line-height: 34px;
    display: flex;
    flex-direction: column;

    text-align: right;
}

.content-wrapper .location strong {
    font-weight: 800;
}

.content-wrapper .enter-app {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;
    background-color: #ffd666;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 200ms;
}

.content-wrapper .enter-app:hover {
    background-color:#96FEFF;
}